body {
  font-family: sans-serif;
  background: #eee;
}

#progressbar {
  list-style: none;
  float: right;
}

#progressbar li {
  display: inline;
  color: #ddd;
}

#progressbar .loaded { color: #777; }

#container {
  max-width: 1024px;
  margin-left: 10%;
  margin-right: 10%;
}

.track, #title {
  padding: 50px;
  transition: all 0.2s linear;
}

.track:hover, #title:hover {
  background-color: #ddd;
}

.track:active, #title:active {
  background-color: #000;
}

.track {
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
}

.track.current {
  background-color: #ccc;
}

#title {
  padding: 30px 30px 30px 60px;
  cursor: pointer;
  letter-spacing: -2px;
}

#title:hover {
  letter-spacing: 10px;
}

canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
